importFrom(downscaleR.java, javaCalendarDate2rPOSIXlt)
importFrom(downscaleR.java, javaString2rChar)
importFrom(downscaleR, loginUDG)
importFrom(downscaleR, dictionaryTransformGrid)
importFrom(downscaleR, loadGridDataset)
importFrom(downscaleR, deaccum)
importFrom(downscaleR, findPointXYindex)
importFrom(downscaleR, findVerticalLevel)
importFrom(downscaleR, getLatLonDomain)
importFrom(downscaleR, getTimeDomain)
importFrom(downscaleR, hurs2huss)
importFrom(downscaleR, makeSubset)
importFrom(downscaleR, mslp2ps)
importFrom(downscaleR, revArrayLatDim)
importFrom(downscaleR, scanVarDimensions)
importFrom(downscaleR, tdps2hurs)
importFrom(downscaleR, ndays)
importFrom(utils, packageDescription)
importFrom(abind, abind)
importFrom(RCurl, getURL)
import(rJava)
export("loadECOMS", "loginECOMS_UDG")
