importFrom(loadeR.java, javaCalendarDate2rPOSIXlt)
importFrom(loadeR.java, javaString2rChar)
importFrom(utils, packageDescription)
importFrom(abind, abind)
importFrom(RCurl, getURL)
importFrom("stats", "na.exclude", "var")
importFrom("utils", "read.csv")
import(rJava)
import(loadeR)
export("loadECOMS", "loginECOMS_UDG")

